<!-- Title -->
<h3 style="text-align: center">{{staticDatas.labels.features.fo | titlecase}}</h3>
<!-- Button close -->
<a [routerLink]="['/', { outlets : { front : null}}]" style="position:absolute;top:5px;right:5px" title="close">
  <i class="fas fa-times-circle"></i>
</a>
<!-- Template loading -->
<ng-template [ngIf]="(loading$ | async) === true">
  <div class="test-loading" style="height: 100px; min-width: 100px;display: flex; flex-direction: column; justify-content: center; align-items: center">
    <i class="far fa-spinner fa-spin fa-2x"></i>
  </div>
</ng-template>
<!-- Template pas de donnée -->
<ng-template [ngIf]="(loading$ | async) === false && (FoList$ | async).length === 0">
  <div class="test-empty" style="height: 100px; min-width: 100px;display: flex; flex-direction: column; justify-content: center; align-items: center">
    <i class="far fa-box-open fa-2x"></i>
    <p>Pas de donnée</p>
  </div>
</ng-template>
<!-- Template liste de données -->
<ng-template [ngIf]="(loading$ | async) === false && (FoList$ | async).length > 0">
    <ul class="test-not-empty border border-grey" style="max-height: 300px; overflow-y: auto;border-top: solid 1px transparent">
        <li *ngFor="let fo of FoList$ | async; let i = index" class="border border-grey" style="display: flex; border: solid 1px transparent;border-top: none; padding: 7px">
            <span style="flex: 1">{{ fo.FO_NAME}}</span>
            <a [queryParams]="{ id: fo.id}" [routerLink]="['/', { outlets: { front: 'front/fo/detail' }}]" title="{{staticDatas.labels.title.update}} {{staticDatas.labels.features.fo}}">
                <i class="far fa-edit" style="margin-left: 5px"></i>
            </a>
        </li>
    </ul>
</ng-template>
<!-- Footer contenant uniquement le bouton d'ajout-->
<ng-template [ngIf]="(loading$ | async) === false">
  <footer style="text-align: center;margin-top: 10px">
    <a [routerLink]="['/', { outlets: { front: 'front/fo/detail' }}]" class="btn btn-primary" title="{{staticDatas.labels.title.add}} {{staticDatas.labels.features.fo}}">
      <span>{{staticDatas.labels.controls.add}}</span>
    </a>
  </footer>
</ng-template>
